Imports for Project

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from tensorflow import keras

from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import recall_score, confusion_matrix, precision_score, f1_score, accuracy_score, classification_report, ConfusionMatrixDisplay

Connecting to postgres database to extract data from pgadmin database tables using SQLalchemy

In [2]:
# Creating the connection to pgAdmin Teleco database
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Customer_Churn"
engine = create_engine(db_string)
print("connecting with engine " + str(engine))

connection = engine.connect()

connecting with engine Engine(postgresql://postgres:***@127.0.0.1:5432/Customer_Churn)

Storing the data from the tables into a corresponding dataframes

In [17]:
# Read in data from database tables into dataframes
query = "select * From billing"
Billingdf = pd.read_sql_query(query, connection)
customers_df = pd.read_sql_query("Select * from customer", connection)
products_df = pd.read_sql_query("Select * from products", connection)
services_df = pd.read_sql_query("Select * from services", connection)

In [18]:
Billingdf.head()

,customer_billing_id,paperbilling,paymentmethod,monthlycharges,totalcharges
0,7590-VHVEG,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,No,Mailed check,56.95,1889.50
2,3668-QPYBK,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,Yes,Electronic check,70.70,151.65

In [19]:
customers_df[:5]

   customerid  gender  seniorcitizen partner dependents  tenure churn
0  7590-VHVEG  Female              0     Yes         No       1    No
1  5575-GNVDE    Male              0      No         No      34    No
2  3668-QPYBK    Male              0      No         No       2   Yes
3  7795-CFOCW    Male              0      No         No      45    No
4  9237-HQITU  Female              0      No         No       2   Yes

In [8]:
products_df.tail()

     customerprdct_id phoneservice     multiplelines internetservice
7038       6840-RESVB          Yes               Yes             DSL
7039       2234-XADUH          Yes               Yes     Fiber optic
7040       4801-JZAZL           No  No phone service             DSL
7041       8361-LTMKD          Yes               Yes     Fiber optic
7042       3186-AJIEK          Yes                No     Fiber optic

In [20]:
services_df.head()

,customersvc_id,onlinebackup,deviceprotection,streamingtv,streamingmovies,contract,techsupport,onlinesecurity
0,7590-VHVEG,Yes,No,No,No,Month-to-month,No,No
1,5575-GNVDE,No,Yes,No,No,One year,No,Yes
2,3668-QPYBK,Yes,No,No,No,Month-to-month,No,Yes
3,7795-CFOCW,No,Yes,No,No,One year,Yes,Yes
4,9237-HQITU,No,No,No,No,Month-to-month,No,No

In [10]:
#merge customers and products dataframes into a single dataframe (df)
df = pd.merge(customers_df,products_df, on = customers_df["customerid"])

In [11]:
df[:1]

,key_0,customerid,gender,seniorcitizen,partner,dependents,tenure,churn,customerprdct_id,phoneservice,multiplelines,internetservice
0,7590-VHVEG,7590-VHVEG,Female,0,Yes,No,1,No,7590-VHVEG,No,No phone service,DSL

In [12]:
df = df.drop(["key_0"], axis=1)

In [13]:
df[:1]

,customerid,gender,seniorcitizen,partner,dependents,tenure,churn,customerprdct_id,phoneservice,multiplelines,internetservice
0,7590-VHVEG,Female,0,Yes,No,1,No,7590-VHVEG,No,No phone service,DSL

In [14]:
#merge billing into df dataframe and update df
df = pd.merge(df,Billingdf, on = df["customerid"])

In [15]:
df[:1]

,key_0,customerid,gender,seniorcitizen,partner,dependents,tenure,churn,customerprdct_id,phoneservice,multiplelines,internetservice,customer_billing_id,paperbilling,paymentmethod,monthlycharges,totalcharges
0,7590-VHVEG,7590-VHVEG,Female,0,Yes,No,1,No,7590-VHVEG,No,No phone service,DSL,7590-VHVEG,Yes,Electronic check,29.85,29.85

In [16]:
df = df.drop(["key_0"], axis=1)

In [23]:
#merge products into df dataframe and update df
df = pd.merge(df,products_df, on = df["customerid"])

In [24]:
df[:5]

,key_0,customerid,gender,seniorcitizen,partner,dependents,tenure,churn,customerprdct_id_x,phoneservice_x,...,internetservice_x,customer_billing_id,paperbilling,paymentmethod,monthlycharges,totalcharges,customerprdct_id_y,phoneservice_y,multiplelines_y,internetservice_y
0,7590-VHVEG,7590-VHVEG,Female,0,Yes,No,1,No,7590-VHVEG,No,...,DSL,7590-VHVEG,Yes,Electronic check,29.85,29.85,7590-VHVEG,No,No phone service,DSL
1,5575-GNVDE,5575-GNVDE,Male,0,No,No,34,No,5575-GNVDE,Yes,...,DSL,5575-GNVDE,No,Mailed check,56.95,1889.50,5575-GNVDE,Yes,No,DSL
2,3668-QPYBK,3668-QPYBK,Male,0,No,No,2,Yes,3668-QPYBK,Yes,...,DSL,3668-QPYBK,Yes,Mailed check,53.85,108.15,3668-QPYBK,Yes,No,DSL
3,7795-CFOCW,7795-CFOCW,Male,0,No,No,45,No,7795-CFOCW,No,...,DSL,7795-CFOCW,No,Bank transfer (automatic),42.30,1840.75,7795-CFOCW,No,No phone service,DSL
4,9237-HQITU,9237-HQITU,Female,0,No,No,2,Yes,9237-HQITU,Yes,...,Fiber optic,9237-HQITU,Yes,Electronic check,70.70,151.65,9237-HQITU,Yes,No,Fiber optic

In [25]:
df = df.drop(["key_0"], axis=1)

In [26]:
#merge services into df dataframe and update df
df = pd.merge(df,services_df, on = df["customerid"])

In [27]:
df[:5]

,key_0,customerid,gender,seniorcitizen,partner,dependents,tenure,churn,customerprdct_id_x,phoneservice_x,...,multiplelines_y,internetservice_y,customersvc_id,onlinebackup,deviceprotection,streamingtv,streamingmovies,contract,techsupport,onlinesecurity
0,7590-VHVEG,7590-VHVEG,Female,0,Yes,No,1,No,7590-VHVEG,No,...,No phone service,DSL,7590-VHVEG,Yes,No,No,No,Month-to-month,No,No
1,5575-GNVDE,5575-GNVDE,Male,0,No,No,34,No,5575-GNVDE,Yes,...,No,DSL,5575-GNVDE,No,Yes,No,No,One year,No,Yes
2,3668-QPYBK,3668-QPYBK,Male,0,No,No,2,Yes,3668-QPYBK,Yes,...,No,DSL,3668-QPYBK,Yes,No,No,No,Month-to-month,No,Yes
3,7795-CFOCW,7795-CFOCW,Male,0,No,No,45,No,7795-CFOCW,No,...,No phone service,DSL,7795-CFOCW,No,Yes,No,No,One year,Yes,Yes
4,9237-HQITU,9237-HQITU,Female,0,No,No,2,Yes,9237-HQITU,Yes,...,No,Fiber optic,9237-HQITU,No,No,No,No,Month-to-month,No,No

In [28]:
df = df.drop(["key_0"], axis=1)

In [29]:
df[:5]

,customerid,gender,seniorcitizen,partner,dependents,tenure,churn,customerprdct_id_x,phoneservice_x,multiplelines_x,...,multiplelines_y,internetservice_y,customersvc_id,onlinebackup,deviceprotection,streamingtv,streamingmovies,contract,techsupport,onlinesecurity
0,7590-VHVEG,Female,0,Yes,No,1,No,7590-VHVEG,No,No phone service,...,No phone service,DSL,7590-VHVEG,Yes,No,No,No,Month-to-month,No,No
1,5575-GNVDE,Male,0,No,No,34,No,5575-GNVDE,Yes,No,...,No,DSL,5575-GNVDE,No,Yes,No,No,One year,No,Yes
2,3668-QPYBK,Male,0,No,No,2,Yes,3668-QPYBK,Yes,No,...,No,DSL,3668-QPYBK,Yes,No,No,No,Month-to-month,No,Yes
3,7795-CFOCW,Male,0,No,No,45,No,7795-CFOCW,No,No phone service,...,No phone service,DSL,7795-CFOCW,No,Yes,No,No,One year,Yes,Yes
4,9237-HQITU,Female,0,No,No,2,Yes,9237-HQITU,Yes,No,...,No,Fiber optic,9237-HQITU,No,No,No,No,Month-to-month,No,No

In [30]:
df.set_index("customerid")

,gender,seniorcitizen,partner,dependents,tenure,churn,customerprdct_id_x,phoneservice_x,multiplelines_x,internetservice_x,...,multiplelines_y,internetservice_y,customersvc_id,onlinebackup,deviceprotection,streamingtv,streamingmovies,contract,techsupport,onlinesecurity
customerid,,,,,,,,,,,,,,,,,,,,,
7590-VHVEG,Female,0,Yes,No,1,No,7590-VHVEG,No,No phone service,DSL,...,No phone service,DSL,7590-VHVEG,Yes,No,No,No,Month-to-month,No,No
5575-GNVDE,Male,0,No,No,34,No,5575-GNVDE,Yes,No,DSL,...,No,DSL,5575-GNVDE,No,Yes,No,No,One year,No,Yes
3668-QPYBK,Male,0,No,No,2,Yes,3668-QPYBK,Yes,No,DSL,...,No,DSL,3668-QPYBK,Yes,No,No,No,Month-to-month,No,Yes
7795-CFOCW,Male,0,No,No,45,No,7795-CFOCW,No,No phone service,DSL,...,No phone service,DSL,7795-CFOCW,No,Yes,No,No,One year,Yes,Yes
9237-HQITU,Female,0,No,No,2,Yes,9237-HQITU,Yes,No,Fiber optic,...,No,Fiber optic,9237-HQITU,No,No,No,No,Month-to-month,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6840-RESVB,Male,0,Yes,Yes,24,No,6840-RESVB,Yes,Yes,DSL,...,Yes,DSL,6840-RESVB,No,Yes,Yes,Yes,One year,Yes,Yes
2234-XADUH,Female,0,Yes,Yes,72,No,2234-XADUH,Yes,Yes,Fiber optic,...,Yes,Fiber optic,2234-XADUH,Yes,Yes,Yes,Yes,One year,No,No
4801-JZAZL,Female,0,Yes,Yes,11,No,4801-JZAZL,No,No phone service,DSL,...,No phone service,DSL,4801-JZAZL,No,No,No,No,Month-to-month,No,Yes
8361-LTMKD,Male,1,Yes,No,4,Yes,8361-LTMKD,Yes,Yes,Fiber optic,...,Yes,Fiber optic,8361-LTMKD,No,No,No,No,Month-to-month,No,No
3186-AJIEK,Male,0,No,No,66,No,3186-AJIEK,Yes,No,Fiber optic,...,No,Fiber optic,3186-AJIEK,No,Yes,Yes,Yes,Two year,Yes,Yes

Read in Data

Verify that there is no null values

In [4]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Description of data and data types

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7044 non-null   object
 1   gender            7044 non-null   object
 2   SeniorCitizen     7044 non-null   object
 3   Partner           7044 non-null   object
 4   Dependents        7044 non-null   object
 5   tenure            7044 non-null   object
 6   PhoneService      7044 non-null   object
 7   MultipleLines     7044 non-null   object
 8   InternetService   7044 non-null   object
 9   OnlineSecurity    7044 non-null   object
 10  OnlineBackup      7044 non-null   object
 11  DeviceProtection  7044 non-null   object
 12  TechSupport       7044 non-null   object
 13  StreamingTV       7044 non-null   object
 14  StreamingMovies   7044 non-null   object
 15  Contract          7044 non-null   object
 16  PaperlessBilling  7044 non-null   object
 17  PaymentMethod     7044 non-null   object
 18  MonthlyCharges    7044 non-null   object
 19  TotalCharges      7044 non-null   object
 20  Churn             7044 non-null   object
dtypes: object(21)
memory usage: 1.1+ MB

Convert Objects to Integers

In [6]:
def object_to_int(dataframe_series):
    if dataframe_series.dtype=='object':
        dataframe_series = LabelEncoder().fit_transform(dataframe_series)
    return dataframe_series

In [7]:
df = df.apply(lambda x: object_to_int(x))
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7043,2,2,1,0,73,1,0,2,2,...,0,2,2,2,0,1,4,1585,6531,0
1,5375,0,0,2,1,1,0,2,0,0,...,1,0,0,0,1,2,2,446,2505,1
2,3962,1,0,0,1,28,2,1,0,3,...,3,0,0,0,2,0,3,802,1466,1
3,2564,1,0,0,1,12,2,1,0,3,...,1,0,0,0,1,2,3,740,157,2
4,5535,1,0,0,1,40,0,2,0,3,...,3,3,0,0,2,0,0,570,1400,1

The variable we are trying to predict (our output variable 'y') is Churn

In [8]:
X = df.drop(columns = ['Churn'])
y = df['Churn'].values

Models Chosen to Test:

Logistic Regression 
Pros = Interpretable and explainable, less prone to overfitting when using regularization, applicable for multi-class predictions.
Cons = Assumes linearity between inputs and outputs

Decision Tree
Pros: Explainable and Interpretable, can handle missing values.
Cons: Prone to overfitting, sensitive to outliers.

XGBoost
Pros: Provides accurate results, captures non linear relationships.
Cons: Hyperparameter tuning can be complex, does not perform well on sparse datasets.

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state = 40)

In [10]:
def evalmetrics(ytest, ypred):
    acc = accuracy_score(ytest, ypred) * 100
    print(classification_report(ytest, ypred))
    print('\n', 'Accuracy = {:0.2f}%.'.format(acc))
    ConfusionMatrixDisplay.from_predictions(ytest, ypred)
    return

In [11]:
scaler= StandardScaler()
number_cols = ["tenure", 'MonthlyCharges', 'TotalCharges']
X_train[number_cols] = scaler.fit_transform(X_train[number_cols])
X_test[number_cols] = scaler.transform(X_test[number_cols])

In [13]:
models = [
    XGBClassifier(),
    DecisionTreeClassifier(),
    LogisticRegression(),
    
]

In [14]:
for i in models:
    i.fit(X_train, y_train)
    pred_test = i.predict(X_test)
    print ("Accuracy for {} is {}".format(i,metrics.accuracy_score(y_test, pred_test)))

C:\Users\hunter\anaconda3\envs\mlenv\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[19:43:12] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy for XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None) is 0.7795648060548723
Accuracy for DecisionTreeClassifier() is 0.71759697256386
Accuracy for LogisticRegression() is 0.7781456953642384

C:\Users\hunter\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,