Imports for Project

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from tensorflow import keras

from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import recall_score, confusion_matrix, precision_score, f1_score, accuracy_score, classification_report, ConfusionMatrixDisplay

ModuleNotFoundError: No module named 'tensorflow'

In [3]:
!pip install keras

Requirement already satisfied: keras in c:\users\husam qarawi\.conda\envs\pythondatat\lib\site-packages (2.10.0)

In [61]:

engine = sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL(
        drivername="postgresql",
        username="postgres",
        password="Hvalentine98!",
        host="localhost",
        port="5432",
        database="Final_Project",
    ),
    echo_pool=True,
)
print("connecting with engine " + str(engine))
connection = engine.connect()
query = "select * From Teleco"
df = pd.read_sql_query(query, connection)

connecting with engine Engine(postgresql://postgres:***@localhost:5432/Final_Project)

C:\Users\hunter\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SADeprecationWarning: Calling URL() directly is deprecated and will be disabled in a future release.  The public constructor for URL is now the URL.create() method.

In [62]:
print (df)

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0     customerID  gender  SeniorCitizen  Partner  Dependents  tenure
1     7590-VHVEG  Female              0      Yes          No       1
2     5575-GNVDE    Male              0       No          No      34
3     3668-QPYBK    Male              0       No          No       2
4     7795-CFOCW    Male              0       No          No      45
...          ...     ...            ...      ...         ...     ...
7039  6840-RESVB    Male              0      Yes         Yes      24
7040  2234-XADUH  Female              0      Yes         Yes      72
7041  4801-JZAZL  Female              0      Yes         Yes      11
7042  8361-LTMKD    Male              1      Yes          No       4
7043  3186-AJIEK    Male              0       No          No      66

      PhoneService     MultipleLines  InternetService  OnlineSecurity  ...  \
0     PhoneService     MultipleLines  InternetService  OnlineSecurity  ...
1               No  No phone service              DSL              No  ...
2              Yes                No              DSL             Yes  ...
3              Yes                No              DSL             Yes  ...
4               No  No phone service              DSL             Yes  ...
...            ...               ...              ...             ...  ...
7039           Yes               Yes              DSL             Yes  ...
7040           Yes               Yes      Fiber optic              No  ...
7041            No  No phone service              DSL             Yes  ...
7042           Yes               Yes      Fiber optic              No  ...
7043           Yes                No      Fiber optic             Yes  ...

      DeviceProtection  TechSupport  StreamingTV  StreamingMovies  \
0     DeviceProtection  TechSupport  StreamingTV  StreamingMovies
1                   No           No           No               No
2                  Yes           No           No               No
3                   No           No           No               No
4                  Yes          Yes           No               No
...                ...          ...          ...              ...
7039               Yes          Yes          Yes              Yes
7040               Yes           No          Yes              Yes
7041                No           No           No               No
7042                No           No           No               No
7043               Yes          Yes          Yes              Yes

            Contract  PaperlessBilling              PaymentMethod  \
0           Contract  PaperlessBilling              PaymentMethod
1     Month-to-month               Yes           Electronic check
2           One year                No               Mailed check
3     Month-to-month               Yes               Mailed check
4           One year                No  Bank transfer (automatic)
...              ...               ...                        ...
7039        One year               Yes               Mailed check
7040        One year               Yes    Credit card (automatic)
7041  Month-to-month               Yes           Electronic check
7042  Month-to-month               Yes               Mailed check
7043        Two year               Yes  Bank transfer (automatic)

      MonthlyCharges  TotalCharges  Churn
0     MonthlyCharges  TotalCharges  Churn
1              29.85         29.85     No
2              56.95        1889.5     No
3              53.85        108.15    Yes
4               42.3       1840.75     No
...              ...           ...    ...
7039            84.8        1990.5     No
7040           103.2        7362.9     No
7041            29.6        346.45     No
7042            74.4         306.6    Yes
7043          105.65        6844.5     No

[7044 rows x 21 columns]

Read in Data

Verify that there is no null values

In [63]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Description of data and data types

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7044 non-null   object
 1   gender            7044 non-null   object
 2   SeniorCitizen     7044 non-null   object
 3   Partner           7044 non-null   object
 4   Dependents        7044 non-null   object
 5   tenure            7044 non-null   object
 6   PhoneService      7044 non-null   object
 7   MultipleLines     7044 non-null   object
 8   InternetService   7044 non-null   object
 9   OnlineSecurity    7044 non-null   object
 10  OnlineBackup      7044 non-null   object
 11  DeviceProtection  7044 non-null   object
 12  TechSupport       7044 non-null   object
 13  StreamingTV       7044 non-null   object
 14  StreamingMovies   7044 non-null   object
 15  Contract          7044 non-null   object
 16  PaperlessBilling  7044 non-null   object
 17  PaymentMethod     7044 non-null   object
 18  MonthlyCharges    7044 non-null   object
 19  TotalCharges      7044 non-null   object
 20  Churn             7044 non-null   object
dtypes: object(21)
memory usage: 1.1+ MB

Convert Objects to Integers

In [65]:
def object_to_int(dataframe_series):
    if dataframe_series.dtype=='object':
        dataframe_series = LabelEncoder().fit_transform(dataframe_series)
    return dataframe_series

In [66]:
df = df.apply(lambda x: object_to_int(x))
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7043,2,2,1,0,73,1,0,2,2,...,0,2,2,2,0,1,4,1585,6531,0
1,5375,0,0,2,1,1,0,2,0,0,...,1,0,0,0,1,2,2,446,2505,1
2,3962,1,0,0,1,28,2,1,0,3,...,3,0,0,0,2,0,3,802,1466,1
3,2564,1,0,0,1,12,2,1,0,3,...,1,0,0,0,1,2,3,740,157,2
4,5535,1,0,0,1,40,0,2,0,3,...,3,3,0,0,2,0,0,570,1400,1

The variable we are trying to predict (our output variable 'y') is Churn

In [67]:
X = df.drop(columns = ['Churn'])
y = df['Churn'].values